/* Base CSS */
.container {
  display: flex;
  justify-content: space-between;
  height: 90vh; /* Full viewport height */
  max-width: 100%;
  align-items: center;
}

.image {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-left: 40px;
}

.button {
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
}

.heading {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  animation: fadeIn 3s ease-in-out; /* Apply animation */
}

.paragraph {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  /* animation: typing 7s steps(40, end);  */
}

.firstHeading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.text-section {
  max-width: 500px;
  margin-left: 50px;
  color: #000000;
  max-width: 50%;  
}

/* Responsive Adjustments */
@media (max-width: 480px) {
  .container {
      flex-direction: column; /* Ensure column direction */
      justify-content: center; /* Center content */
      align-items: center;
      text-align: center;
      height: auto; /* Adjust height for smaller devices */
      margin-top: 70px; /* Adjust margin-top for small devices */
  }

  .image {
      width: 90%;
      margin: 20px auto; /* Center image horizontally */
  }

  .text-section {
      max-width: 100%;
      margin: 10px auto; /* Center text section */
      text-align: center; /* Center text */
  }

  .heading {
      font-size: 32px;
      padding: 10px 30px 20px 40px;
  }

  .paragraph {
      font-size: 12px;
      padding: 10px 30px 20px 40px;
  }
}
