.category-page {
    margin-top: 30px;
    text-align: center;
  }
  
  .category-heading {
    margin-bottom: 20px;
    font-size: 2em;
    color: #000000;
  }
  
  .category-grid {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 images in a row */
    gap: 40px;
    justify-items: center; /* Center items within the grid */
    margin: 80px 160px 100px ; /* Adjust margin as needed */
  }
  
  /* Center the last 2 images in a row */
  .category-card:nth-child(n+9) {
    justify-self: center;
  }
  
  .category-card {
    background: #F4F4F4;
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-image {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
  }
  
  .category-info {
    padding: 10px;
    width: 100%; /* Ensure the info section takes the full width */
    text-align: left; /* Align text to the left */
  }
  
  .category-name {
    justify-content: flex-start;
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }
  
  .category-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-price {
    font-weight: bold;
    font-size: 1.1em;
    color: #000000;
  }
  
  .category-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: #fff;
    background-color: #424649;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .category-button:hover {
    background-color: #666;
  }
  
  @media (max-width: 480px) {
    .category-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 20px;
      justify-items: center; /* Center items within the grid */
      margin: 100px 30px; /* Center the grid horizontally */
    }
  
    .category-card {
      background: #F4F4F4;
      border: 1px solid #ddd;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
      flex-direction: column; /* Align items in a column */
      align-items: center; /* Center items horizontally */
      /* padding: 20px; */
    }
  }